<div style="background-color: grey;">
<app-nav-bar></app-nav-bar>
<br>
<mat-card class="mat-elevation-z8" class="graphCard"> 
<app-tweet-line></app-tweet-line>
</mat-card>
<br>
<mat-card class="mat-elevation-z8" class="graphCard"> 
    <div class="graphSize">
    <cases-countries style="max-height: 200px;"></cases-countries>
    </div>   
</mat-card>
<br>
<mat-card class="mat-elevation-z8" class="graphCard">
    <app-pie-chart></app-pie-chart>
</mat-card>
<br>
<div>
    <mat-card class="mat-elevation-z8" class="graphCard" style="margin:auto">
        <!-- <app-word-cloud></app-word-cloud> -->
        <div style="text-align:center">
        <h5>Word cloud</h5>
        <img src="/assets/images/wordcloud.jpg" alt="" width=600/>
        </div>
    </mat-card>
</div>
<br>
<mat-card class="mat-elevation-z8" class="graphCard">
    <div style="width:97%; margin:auto;">
        <app-table></app-table>
    </div>
</mat-card>
<br>
<mat-card class="mat-elevation-z8" class="graphCard">
    <div style="width:97%; margin:auto;">
        <app-symptom-relationship></app-symptom-relationship>
    </div>
</mat-card>
<br>
<!-- <mat-card class="mat-elevation-z8" class="graphCard"> -->
    <!-- <div style="width:97%; margin:auto;"> -->
        <!-- <app-recovery-time-chart></app-recovery-time-chart> -->
    <!-- </div> -->
<!-- </mat-card> -->
<!-- <br> -->
<mat-card class="mat-elevation-z8" class="graphCard">
    <div style="width:97%; margin:auto;">
        <app-symptoms-piechart></app-symptoms-piechart>
    </div>
</mat-card>
<br>
<mat-card class="mat-elevation-z8" class="graphCard">
    <div style="width:97%; margin:auto;">
        <app-all-symtpoms-pie-chart></app-all-symtpoms-pie-chart>
    </div>
</mat-card>
<br>
<!-- <mat-card class="mat-elevation-z8" class="graphCard"> -->
    <!-- <div style="width:97%; margin:auto;"> -->
        <!-- <app-reinfection-proportion-graph></app-reinfection-proportion-graph> -->
    <!-- </div> -->
<!-- </mat-card> -->
<!-- <br> -->
<mat-card class="mat-elevation-z8" class="graphCard">
    <div style="width:97%; margin:auto;">
        <div style="text-align:center">
        <h5>Pearson correlation coefficients between symptoms</h5>
        <img src="/assets/images/pearson.jpg" alt="" width=600/>
        </div>
    </div>
</mat-card>
<br>
<mat-card class="mat-elevation-z8" class="graphCard">
    <div style="width:97%; margin:auto;">
        <div style="text-align:center">
        <h5>Kaplan-Meier estimates of cumulative recoveries</h5>
        <img src="/assets/images/kaplan.jpg" alt="" width=600/>
        </div>
    </div>
</mat-card>
<br>
<mat-card class="mat-elevation-z8" class="graphCard">
    <div style="width:97%; margin:auto;">
        <div style="text-align:center">
        <h5>Rehabilitation time</h5>
        <img src="/assets/images/rehabilitation.jpg" alt="" width=600/>
        </div>
    </div>
</mat-card>
<br>
<mat-card class="mat-elevation-z8" class="graphCard">
    <div style="width:97%; margin:auto;">
        <div style="text-align:center">
        <h5>Time to reinfection for 238,993 individuals</h5>
        <img src="/assets/images/reinfection.jpg" alt="" width=600/>
        </div>
    </div>
</mat-card>
<br>
<mat-card class="mat-elevation-z8" class="graphCard">
    <div style="width:97%; margin:auto;">
        <div style="text-align:center">
        <h5>Reinfection counts and rates</h5>
        <img src="/assets/images/reinfection2.jpg" alt="" width=600/>
        </div>
    </div>
</mat-card>
<br>
<app-footer></app-footer>
</div>