// ::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
//     background-color: blue!important;
//     border-color: red !important;
//     &:focus { outline:0 !important; }
//   }
// ::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active {
//     background-color: darkred!important;
//     border-color: red !important;
//     &:focus { outline:0!important; }
// }

@media only screen and (min-width: 953px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: left;
    margin:2px;
  }
  .filterTab {
    width:20%;
    margin-top:4px;

  }
  .container {
    display: flex; flex-flow: row; justify-content: space-between;
  }
}
@media only screen and (max-width: 953px) {

  .title {
    text-align: center;
    font-size:21px;
    margin: 5px;


  }
  .container {
    display: flex; 
    flex-flow: column; 
    justify-content: space-between;
  }  
}

@media only screen and (min-width: 953px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .filterTab {
    width: 20%;
    margin-top: 4px;
  }
  
  .custom-slider {
    width: 95%;
  }
}

@media only screen and (max-width: 1052px) {
  .custom-slider {
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  .custom-slider {
    width: 85%;
  }

}


@media only screen and (max-width: 600px) {
  .custom-slider {
    width: 70%;
  }
}