<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <div class="content">
    <br>
    <mat-card class="mat-elevation-z8" style="width:95%;  margin:auto; padding:2px">
        <!-- <div style="display: flex; flex-flow: row; justify-content: space-evenly;">   
                <div style="display: flex; flex-flow: column;">
                        <h3>Supervisor:</h3>
                            <p>Dong Xu</p>
                        <br>
                        <h3>API Support:</h3>
                        <p>Li Su</p>
                        <p>Lei Jiang</p>
                        <p>Weinan Zhang</p>
                        <p>Chunhui Xu</p>
                        <p>Congyo Guo</p>    
                        
                </div>
                <div style="display: flex; flex-flow: column;">
                        <h3>Team Manager:</h3>
                        <p>Jiacheng Xie</p>
                        <br>
                        <h3>Annotators:</h3>
                        <p>Kent Studer</p>
                        <p>James Tipton</p>
            
                        <p>Thadeus Meneses</p>
            
                        <p>Noah Berry</p>
            
                        <p>Guanghui An</p>
                        <p>Xiaoting Tang</p>
                        <p>Yijie Ren</p>
                         
                </div>
                <div style="display: flex; flex-flow: column;">
                        <h3>Main Developer:</h3>
                        <p>Ziyang Zhang</p>
                        <p>Joel Hilliard</p>
                </div>
        </div> -->
        <div class="flex-container">
                <div class="flex-item">
                        <h3>Supervisor:</h3>
                            <p>Dong Xu</p>
                        <br>
                        <h3>Main Developer:</h3>
                        <p>Ziyang Zhang</p>
                        <p>Joel Hilliard</p>
                        <!-- <h3>API Support:</h3>
                        <p>Li Su</p>
                        <p>Lei Jiang</p>
                        <p>Weinan Zhang</p>
                        <p>Chunhui Xu</p>
                        <p>Congyo Guo</p>   -->
                </div>
                <div class="flex-item">
                        <h3>Team Manager:</h3>
                        <p>Jiacheng Xie</p>
                        <br>
                        <h3>Annotators:</h3>
                        <p>Kent Studer</p>
                        <p>James Tipton</p>
            
                        <p>Thadeus Meneses</p>
            
                        <p>Noah Berry</p>
            
                        <p>Guanghui An</p>
                        <p>Xiaoting Tang</p>
                        <p>Yijie Ren</p>
                </div>
                <div class="flex-item">
                        <!-- <h3>Main Developer:</h3>
                        <p>Ziyang Zhang</p>
                        <p>Joel Hilliard</p> -->
                        <h3>API Support:</h3>
                        <p>Li Su</p>
                        <p>Lei Jiang</p>
                        <p>Weinan Zhang</p>
                        <p>Chunhui Xu</p>
                        <p>Congyo Guo</p> 
                </div>
              </div>
              
    </mat-card>
    <br>
  </div>
  <app-footer></app-footer>
</div>

