<div style="color: white; background-color: black;">
    <div class="wrapper">
        <div class="column">
            <h4>Covlab</h4>
            <p (click)="goToPage('team')">Team</p>
            <p>About us</p>
            <p>Contact</p>
            <p (click)="goToAnnotators()">To be annotators</p>
            <p>Privacy Policy</p>
        </div>
        <div class="column">
            <h4 >Related Links</h4>
            <a style="text-decoration: none; color: grey;" href="https://digbio.missouri.edu/">
                <p>Mizzou DBL</p>
            </a>
            <a style="text-decoration: none; color: grey;" href="https://coronavirus.jhu.edu/map.html">
                <p>Johns Hopkins Global Cases</p>
            </a>
        </div>
        <div class="column">
            <img style="width: 90px; height: 90px;" src="../../../assets/images/mizzouLogoNoBg.png">
        </div>
    </div>
    <h5 style="width: 100%; text-align: center; color:grey; margin: 0;">Copyright © 2023 by Digital Biology Lab. All rights reserved.</h5>
</div>